@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin mobile {
	@media (max-width: 37.4375em) { @content; }	//599px
}
@mixin tablet {
	@media (min-width: 37.5em) { @content; }	// 600px
}
@mixin notDesktop {
	@media (max-width: 64em) { @content; }
}
@mixin desktop {
	@media (min-width: 64.01em) { @content; }	// 1024px
}
@mixin hugeScreens {
	@media (min-width: 120.0625em) { @content; }	// 1921px
}
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Barlow'
}

body {
    width: 100%;
    min-height: 100vh;
    --main: rgb(157, 27, 177);
    &.dark {
        --text: rgb(254, 248, 255);
        --bg: rgb(19, 0, 22);
        --bgLowOp: rgba(19, 0, 22, 0.7)
    }
    &.light {
        --text: rgb(19, 0, 22);
        --bg: rgb(254, 248, 255);
        --bgLowOp: rgba(254, 248, 255, 0.7)
    }
    color: var(--text);
    background-image: url('./bg.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-effect {
    position: fixed;
    z-index: -1;
    background-color: var(--bgLowOp);
    top: 0; left: 0; right: 0; bottom: 0;
}
a {
    color: inherit;
    
}
header {
    width: 100;
    padding: 0.7rem 0;
    text-align: center;
    h1 {
        font-size: 3.3rem;
        @include mobile {
            font-size: 2.7rem;
        }
    }
    p {
        font-size: 1.1rem;
        @include mobile {
            font-size: 1rem;
        }
        letter-spacing: 1px;
    }
}
main {
    margin-top: 1.2rem;
    p {
        padding: 0 2vw;
    }
    .wrapper {
        text-align: center;
        .btn {
            margin: 1.5rem 0 2rem;
            @include tablet {
                margin: 1rem 0 2rem;
            }
            button {
                color: var(--bg);
                font-weight: 600;
                background-color: var(--text);
                border-radius: 10px;
                box-shadow: 0px 3px 0 rgb(232, 103, 255);
                transition: background-color 200ms ease,
                            box-shadow 200ms ease;
                padding: 0.6rem 1.5rem;
                cursor: pointer;
                text-transform: uppercase;
                border: none; outline: none;
                &:hover {
                    background-color: rgb(249, 215, 255);
                    box-shadow: 0 0 0 rgb(232, 103, 255);
                }
            }
        }
    }
    .canvas {
        width: 100%;
        padding: 1.2rem 1rem;
        background-color: var(--bgLowOp);
        text-align: center;
        margin-top: 1.5rem;
        --imgWidth: 350px;
        --imgHeight: 350px;
        @media (max-width: 366px) {
            --imgWidth: 100%;
            --imgHeight: auto;
        } 
        .imgs-canvas {
            display: grid;
            grid-template-columns: repeat(auto-fit, var(--imgWidth));
            grid-template-rows: auto;
            grid-gap: 3rem;
            justify-content: center;
            .img1-container, .img2-container {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: var(--imgHeight);
                width: var(--imgWidth);
                overflow: hidden;
                border-radius: 10px;
                color: inherit;
                text-decoration: none;
                &:hover .hover-dwnld {
                    background-color: rgba(19, 0, 22, 0.9);
                    padding: 0.9rem;
                }
                .hover-dwnld {
                    position: absolute;
                    bottom:0;right:0;left:0;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.6rem;
                    background-color: var(--bgLowOp);
                    transition: background-color 200ms ease,
                                padding 200ms ease;
                }
                img {
                    object-fit: cover;
                    flex-shrink: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}